<%-include("header")%>
<body>
<%-include("preload")%>
<%-include("navbar")%>
<%-include("graphics")%>
<%-include("featured", {featured: featuredposts})%>
<%-include("products", {siteposts: siteposts})%>
<%-include("scripts") %>






<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
<!-- <div id='gpt-passback-stpd-0-1578495345178'>
<script>
     window.googletag = window.googletag || {cmd: []};
       googletag.cmd.push(function() {
         googletag
           .defineSlot('/147246189/colorlib.com_728x90_anchor_sticky_DFP', [[320, 100], [728, 90]], 'gpt-passback-stpd-0-1578495345178')
           .addService(googletag.pubads()).setTargeting('Placement_type', ['serving']);
         googletag.enableServices();
         googletag.display('gpt-passback-stpd-0-1578495345178');
     });
  </script>
</div> -->
</body>
</html>
