
<!-- Categories Section End -->
<!-- Product Section Begin -->
<section class="product spad">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-4">
<div class="section-title">
<h4>Browse</h4>
</div>
</div>
<div class="col-lg-8 col-md-8">
<ul class="filter__controls">
<li class="active mixitup-control-active" data-filter="*">All</li>
<li data-filter=".women">Women’s</li>
<li data-filter=".men">Men’s</li>
<li data-filter=".fashion">Fashion & Streetwear</li>
<li data-filter=".jewelry">Jewelry & Drip</li>
<li data-filter=".hair">Hair & Grooming</li>
<li data-filter=".other">Other</li>
</ul>
</div>
</div>
<div class="row products__property__gallery">
<!-- Start -->

<% siteposts.forEach(function(post){ %>
  <% var imageconcat = "" %>
  <% for (image of post.brandImageURL){ %>
    <% imageconcat += image %>
    <% imageconcat += " " %>
  <% } %>
  <% var filterables = post.category.join(' ') %>
  <div class="col-lg-3 col-md-4 col-sm-6 mix <%= filterables %>">
  <div class="product__item collapsible" >
  <div class="product__item__pic set-bg" data-setbg= "<%= post.brandImageURL[0] %>" style="background-image: url(&quot;<%= post.brandImageURL[0]%>&quot;);" data-images="<%= imageconcat%>" >
  <ul class="product__hover">
  <!-- Expand Icon Below -->
  <li><a class="popup" target="_blank" rel="noopener noreferrer" href= "<%= post.brandImageURL[0] %>" class="image-popup"><span class="arrow_expand"></span></a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="<%=post.brandLinkRedirect %>"><span class="icon_bag_alt"></span></a></li>
  </ul>
  </div>
  <div class="product__item__text">
  <h6><%= post.brandName%></h6>
  </div>
  <div class="content" >
    <div style="text-align:center">
       <% for (let m=0; m<post.brandImageURL.length; m++){ %>
        <span class="dot <%=post.brandName %>"  data-num="<%= m%>"></span>
        <% } %>
    </div>
    <button class="prod-btn" style="margin-bottom: 1.5;">See Description</button>
     <div class="brand-desc" style="display: none; margin-top: 1.5vh;">
       <p> <%- post.brandDesc%> </p>
     </div>
     <% if (post.cause == "Black Owned Business") { %>
           <div><span class="label stockout">Black Owned Business</span></div>
     <% } %>
     <% post.brandProductTypes.forEach(function(type){ %>
       <div class="product-label-inline"><span class="label stockblue"><%= type%></span></div>
     <% })%>
  </div>
  </div>
<!-- Insert here -->
  </div>
<% }) %>
<!-- End -->

</div>
</div>

</section>


<!-- Product Section End -->
<!-- Banner Section Begin -->
<!-- <section class="banner set-bg" data-setbg="img/banner/banner-1.jpg" style="background-image: url(&quot;img/banner/banner-1.jpg&quot;);">
<div class="container">
<div class="row">
<div class="col-xl-7 col-lg-8 m-auto">
<div class="banner__slider owl-carousel owl-loaded owl-drag">



<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2070px, 0px, 0px); transition: all 1.2s ease 0s; width: 4830px;"><div class="owl-item cloned" style="width: 690px;"><div class="banner__item">
<div class="banner__text">
<span>The Chloe Collection</span>
<h1>The Project Jacket</h1>
<a href="#">Shop now</a>
</div>
</div></div><div class="owl-item cloned" style="width: 690px;"><div class="banner__item">
<div class="banner__text">
<span>The Chloe Collection</span>
<h1>The Project Jacket</h1>
<a href="#">Shop now</a>
</div>
</div></div><div class="owl-item" style="width: 690px;"><div class="banner__item">
<div class="banner__text">
<span>The Chloe Collection</span>
<h1>The Project Jacket</h1>
<a href="#">Shop now</a>
</div>
</div></div><div class="owl-item active" style="width: 690px;"><div class="banner__item">
<div class="banner__text">
<span>The Chloe Collection</span>
<h1>The Project Jacket</h1>
<a href="#">Shop now</a>
</div>
</div></div><div class="owl-item" style="width: 690px;"><div class="banner__item">
<div class="banner__text">
<span>The Chloe Collection</span>
<h1>The Project Jacket</h1>
<a href="#">Shop now</a>
</div>
</div></div><div class="owl-item cloned" style="width: 690px;"><div class="banner__item">
<div class="banner__text">
<span>The Chloe Collection</span>
<h1>The Project Jacket</h1>
<a href="#">Shop now</a>
</div>
</div></div><div class="owl-item cloned" style="width: 690px;"><div class="banner__item">
<div class="banner__text">
<span>The Chloe Collection</span>
<h1>The Project Jacket</h1>
<a href="#">Shop now</a>
</div>
</div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>
</div>
</section> -->
<!-- Banner Section End -->
<!-- Trend Section Begin -->
<!-- <section class="trend spad">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-6">
<div class="trend__content">
<div class="section-title">
<h4>Hot Trend</h4>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/ht-1.jpg" alt="" data-pagespeed-url-hash="1218446255" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Chain bucket bag</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/ht-2.jpg" alt="" data-pagespeed-url-hash="1512946176" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Pendant earrings</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/ht-3.jpg" alt="" data-pagespeed-url-hash="1807446097" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Cotton T-Shirt</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6">
<div class="trend__content">
<div class="section-title">
<h4>Best seller</h4>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/bs-1.jpg" alt="" data-pagespeed-url-hash="3347769236" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Cotton T-Shirt</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/bs-2.jpg" alt="" data-pagespeed-url-hash="3642269157" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Zip-pockets pebbled tote <br>briefcase</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/bs-3.jpg" alt="" data-pagespeed-url-hash="3936769078" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Round leather bag</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6">
<div class="trend__content">
<div class="section-title">
<h4>Feature</h4>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/f-1.jpg" alt="" data-pagespeed-url-hash="2196374041" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Bow wrap skirt</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/f-2.jpg" alt="" data-pagespeed-url-hash="2490873962" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Metallic earrings</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/f-3.jpg" alt="" data-pagespeed-url-hash="2785373883" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Flap cross-body bag</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section> -->
<!-- Trend Section End -->
<!-- Discount Section Begin -->
<!-- <section class="discount">
<div class="container">
<div class="row">
<div class="col-lg-6 p-0">
<div class="discount__pic">
<img src="img/discount.jpg" alt="" data-pagespeed-url-hash="3257752054" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
</div>
<div class="col-lg-6 p-0">
<div class="discount__text">
<div class="discount__text__title">
<span>Discount</span>
<h2>Summer 2019</h2>
<h5><span>Sale</span> 50%</h5>
</div>
<div class="discount__countdown" id="countdown-time"><div class="countdown__item"><span>29</span> <p>Day</p> </div><div class="countdown__item"><span>05</span> <p>Hour</p> </div><div class="countdown__item"><span>34</span> <p>Min</p> </div><div class="countdown__item"><span>51</span> <p>Sec</p> </div></div>
<a href="#">Shop now</a>
</div>
</div>
</div>
</div>
</section> -->
<!-- Discount Section End -->

<!-- removed -->


<!-- Services Section Begin -->
<!-- <section class="services spad">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="services__item">
<i class="fa fa-car"></i>
<h6>Free Shipping</h6>
<p>For all oder over $99</p>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="services__item">
<i class="fa fa-money"></i>
<h6>Money Back Guarantee</h6>
<p>If good have Problems</p>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="services__item">
<i class="fa fa-support"></i>
<h6>Online Support 24/7</h6>
<p>Dedicated support</p>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="services__item">
<i class="fa fa-headphones"></i>
<h6>Payment Secure</h6>
<p>100% secure payment</p>
</div>
</div>
</div>
</div>
</section> -->

<!-- Removed -->

<!-- Services Section End -->
<!-- Instagram Begin -->
<div class="instagram">
<div class="container-fluid">
<div class="row">
<div class="col-lg-2 col-md-4 col-sm-4 p-0">
<div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg" style="background-image: url(&quot;img/instagram/insta-1.jpg&quot;);">
<div class="instagram__text">
<i class="fa fa-instagram"></i>
<a href="#">@ ashion_shop</a>
</div>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-4 p-0">
<div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg" style="background-image: url(&quot;img/instagram/insta-2.jpg&quot;);">
<div class="instagram__text">
<i class="fa fa-instagram"></i>
<a href="#">@ ashion_shop</a>
</div>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-4 p-0">
<div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg" style="background-image: url(&quot;img/instagram/insta-3.jpg&quot;);">
<div class="instagram__text">
<i class="fa fa-instagram"></i>
<a href="#">@ ashion_shop</a>
</div>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-4 p-0">
<div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg" style="background-image: url(&quot;img/instagram/insta-4.jpg&quot;);">
<div class="instagram__text">
<i class="fa fa-instagram"></i>
<a href="#">@ ashion_shop</a>
</div>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-4 p-0">
<div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg" style="background-image: url(&quot;img/instagram/insta-5.jpg&quot;);">
<div class="instagram__text">
<i class="fa fa-instagram"></i>
<a href="#">@ ashion_shop</a>
</div>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-4 p-0">
<div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg" style="background-image: url(&quot;img/instagram/insta-6.jpg&quot;);">
<div class="instagram__text">
<i class="fa fa-instagram"></i>
<a href="#">@ ashion_shop</a>
</div>
</div>
</div>
</div>
</div>
</div>


<footer class="footer">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-6 col-sm-7">
<div class="footer__about">
<div class="footer__logo">
<a href="./index.html"><img src="img/logo.png" alt="" data-pagespeed-url-hash="3884813948" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
cilisis.</p>
<div class="footer__payment">
<a href="#"><img src="img/payment/payment-1.png" alt="" data-pagespeed-url-hash="816491970" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
<a href="#"><img src="img/payment/payment-2.png" alt="" data-pagespeed-url-hash="1110991891" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
<a href="#"><img src="img/payment/payment-3.png" alt="" data-pagespeed-url-hash="1405491812" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
<a href="#"><img src="img/payment/payment-4.png" alt="" data-pagespeed-url-hash="1699991733" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
<a href="#"><img src="img/payment/payment-5.png" alt="" data-pagespeed-url-hash="1994491654" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
</div>
</div>
</div>
<div class="col-lg-2 col-md-3 col-sm-5">
<div class="footer__widget">
<h6>Quick links</h6>
<ul>
<li><a href="#">About</a></li>
<li><a href="#">Blogs</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">FAQ</a></li>
</ul>
</div>
</div>
<div class="col-lg-2 col-md-3 col-sm-4">
<div class="footer__widget">
<h6>Account</h6>
<ul>
<li><a href="#">My Account</a></li>
<li><a href="#">Orders Tracking</a></li>
<li><a href="#">Checkout</a></li>
<li><a href="#">Wishlist</a></li>
</ul>
</div>
</div>
<div class="col-lg-4 col-md-8 col-sm-8">
<div class="footer__newslatter">
<h6>NEWSLETTER</h6>
<form action="#">
<input type="text" placeholder="Email">
<button type="submit" class="site-btn">Subscribe</button>
</form>
<div class="footer__social">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-youtube-play"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>
<a href="#"><i class="fa fa-pinterest"></i></a>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<div class="footer__copyright__text">
<p>Copyright © <script>document.write(new Date().getFullYear());</script>All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
</div>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
</div>
</div>
</footer>
<!-- Footer Section End -->
<!-- Search Begin -->
<div class="search-model">
<div class="h-100 d-flex align-items-center justify-content-center">
<div class="search-close-switch">+</div>
<form class="search-model-form">
<input type="text" id="search-input" placeholder="Search here.....">
</form>
</div>
</div>
<!-- Search End -->
<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/main.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','UA-23581568-13');</script> -->
