
<!-- Header Section End -->
<!-- Categories Section Begin -->
<section class="categories">
<div class="container-fluid" style="margin: 0 0 2vh;">
<div class="row">
  <div class="col-5 p-0">
  <div class="categories__item categories__large__item set-bg" data-setbg="images/hp-final.png" style="background-image: url(&quot;images/hp-final.png&quot;);background-position: left;">
  </div>
  </div>
  <div class="col-7 p-0" style="padding-right: 3vw;">
  <div class="categories__text hp-banner" style="max-width: 95%;">
  <!-- <h1 style="color: #27D8EE;">Spendeur</h1> -->
  <!-- background-color: rgba(189,39,51,.96); -->
  <h1 style="color: #222222;">
    Find businesses you feel passionate about.
  </h1>
  <ul style="list-style-type: none;">
  <li class="hp-list" style="margin-bottom: 6vh; margin-top: 10vh">
    <div class="containter-fluid">
    <div class="row">
    <div class="col-2 hp-icon" style="display:inline-block;">
    <span class="icon_heart_alt" style="font-size: 6vh;color: #27D8EE;text-shadow:2px 2px #000;"></span>
    </div>
    <div class="col-10 hp-banner-content" style="display: inline-block;">
    <strong>
    <h5 class="" style="color: 000000;">
      <strong>
        Support black owned, sustanible, charitable, and small businesses with capitivating stories you can stand behind.
        </strong>
    </h5>

    </div>
    </div>
    </div>
  </li>
  <li class="hp-list" style="margin-bottom: 6vh; margin-top: 10vh">
    <div class="containter-fluid">
    <div class="row">
    <div class="col-2 hp-icon" style="display:inline-block;">
    <span class="icon_cart_alt" style="font-size: 6vh;color: #27D8EE;text-shadow:2px 2px #000;"></span>
    </div>
    <div class="col-10 hp-banner-content" style="display: inline-block;">
    <h5 class="" style="color: 000000">
      <strong>
      Shop a variety of products: Streetwear, Men's Fashion, Women's Fashion, Grooming, and Beauty to name a few.
      </strong>
    </h5>
    </div>
    </div>
    </div>
  </li>
  <li class="hp-list">
  <div class="containter-fluid" style="margin-top: 10vh;">
  <div class="row">
  <div class="col-2 hp-icon" style="display:inline-block;">
  <span class="icon_search" style="font-size: 6vh;color: #27D8EE;text-shadow:2px 2px #000;"></span>
  </div>
  <div class="col-10 hp-banner-content" style="display: inline-block;">
  <h5 class="" style="color: 000000">
    <strong>
    Find unique, innovative styles and products that you cannot find anywhere else.
    </strong>
  </h5>
  </div>
  </div>
  </div>
  </li>
  </ul>
  </div>
  </div>
</div>
</div>

<!-- Might Delete -->
<!-- <div class="container-fluid">
<div class="row">
<div class="col-lg-6">
</div>
<div class="col-lg-6 col-md-6 col-sm-6 p-0">
<div class="categories__item set-bg" data-setbg="images/side-img-1-hp.png" style="background-image: url(&quot;images/side-img-1-hp.png&quot;);background-position: right;">
<div class="categories__text" style="position: relative;">
  <button class="home-site-btn">
  <a href="#"><h4>Shop by product</h4></a>
  </button>
</div>
</div>
</div>
</div>
</div> -->
<!-- Might delete -->

<!-- <div class="col-lg-6 col-md-6 col-sm-6 p-0">
<div class="categories__item set-bg" data-setbg="images/womenwithbook.png" style="background-image: url(&quot;images/womenwithbook.png&quot;);background-position: left;">
<div class="categories__text">
<h4>Books</h4>
<p>273 items</p>
<a href="#">Shop now</a>
</div>
</div>
</div> -->
<div class="container-fluid">
<div class="row">
<div class="col-lg-8 col-md-8 col-sm-8 p-0">
<div class="categories__item set-bg" data-setbg="images/women-phone.jpg" style="background-image: url(&quot;images/women-phone.jpg&quot;);background-position: right;">
<div class="categories__text" style="position: absolute; left: 6vw;">
<button class="home-site-btn">
<a href="#"><h4>Shop by cause</h4></a>
</button>
</div>
</div>
</div>
<!-- Other div -->
<div class="col-lg-4 col-md-4 col-sm-4 p-0">
<div class="categories__item set-bg" data-setbg="images/side-img-1-hp.png" style="background-image: url(&quot;images/side-img-1-hp.png&quot;);background-position: right;">
<div class="categories__text" style="position: relative;">
  <button class="home-site-btn">
  <a href="#"><h4>Shop by product</h4></a>
  </button>
</div>
</div>
</div>
<!-- End of other div  -->
</div>
</div>
<!-- <div class="col-lg-6 col-md-6 col-sm-6 p-0">
<div class="categories__item set-bg" data-setbg="images/wearables.jpg" style="background-image: url(&quot;images/wearables.jpg&quot;);background-position: left;" transform="rotate(90deg)">
<div class="categories__text">
<h4>Wearables + Other</h4>
<p>792 items</p>
<a href="#">Shop now</a>
</div>
</div>
</div> -->

</section>
<!-- Categories Section End -->
<!-- Product Section Begin -->
<section class="product spad">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-4">
<div class="section-title">
<h4>Browse</h4>
</div>
</div>
<div class="col-lg-8 col-md-8">
<ul class="filter__controls">
<li class="active" data-filter="*">All</li>
<li data-filter=".women">Women’s</li>
<li data-filter=".men">Men’s</li>
<li data-filter=".book">Books</li>
<li data-filter=".wearable">Wearables</li>
<li data-filter=".other">Other</li>
<li data-filter=".cosmetic">Personal Care</li>
</ul>
</div>
</div>
<div class="row property__gallery" id="MixItUp289236">
<!-- Start -->

<% siteposts.forEach(function(post){ %>
  <% var imageconcat = "" %>
  <% for (d of post.brandImageURL){ %>
    <% imageconcat += d %>
    <% imageconcat += " " %>
  <% } %>

  <div class="col-lg-3 col-md-4 col-sm-6 <%=post.category%> <%=post.cause %>">
  <div class="product__item collapsible <%= post.brandName%>"  id="<%= post.brandName%>">
  <div class="product__item__pic set-bg <%= post.brandName%>" data-setbg= "<%= post.brandImageURL[0] %>" style="background-image: url(&quot;<%= post.brandImageURL[0]%>&quot;);" data-images="<%= imageconcat%>" >
  <ul class="product__hover">
  <!-- Expand Icon Below -->
  <li><a class="popup <%= post.brandName%>" target="_blank" rel="noopener noreferrer" href= "<%= post.brandImageURL[0] %>" class="image-popup"><span class="arrow_expand"></span></a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="<%=post.brandLinkRedirect %>"><span class="icon_bag_alt"></span></a></li>
  </ul>
  </div>
  <div class="product__item__text">
  <h6><%= post.brandName%></h6>
  </div>
  <div class="content <%= post.brandName%>" alt="<%= post.brandName%>">
     <div style="text-align:center">
       <% for (m=0; m<post.brandImageURL.length; m++){ %>
        <span class="dot <%= post.brandName %>"  data-num="<%= m%>"></span>
        <% } %>
     </div>
     <div class="brand-desc">
       <p> <%- post.brandDesc%> </p>
     </div>
     <% if (post.cause == "Black Owned Business") { %>
           <div><span class="label stockout">Black Owned Business</span></div>
     <% } %>
     <% post.brandProductTypes.forEach(function(type){ %>
       <div class="product-label-inline"><span class="label stockblue"><%= type%></span></div>
     <% })%>
  </div>
  </div>
<!-- Insert here -->
  </div>
  <script>
    var coll = document.getElementsByClassName("product__item collapsible <%= post.brandName%>");
    var cont = document.getElementsByClassName("content");
         var i;

         for (i = 0; i < coll.length; i++) {
           coll[i].addEventListener("mouseenter", function() {
             var thisid = this.id
             for (p of cont){
               if (p.className == "content "+thisid){
                 if (p.style.display === "block") {
                   p.style.display = "none";
                 } else {
                   p.style.display = "block";
                   let ddots = document.getElementsByClassName("dot "+thisid);
                   ddots[0].style.backgroundColor = "#717171"
                   ddots[0].style.width = "20px"
                   ddots[0].style.height = "20px"
                 }
               }
             }

           });
           coll[i].addEventListener("mouseleave", function() {
             let thisid = this.id
             for (p of cont){
               if (p.className == "content "+thisid){
                 if (p.style.display === "block") {
                   p.style.display = "none";
                   let reset = document.getElementsByClassName("product__item__pic set-bg "+thisid);
                   let myimages = reset[0].dataset.images.split(" ")
                   reset[0].style.backgroundImage = "url('"+myimages[0] +"')"
                   let alldots = document.getElementsByClassName("dot");
                   for (d of alldots){
                     d.style.backgroundColor = "#bbb"
                     d.style.width = "15px"
                     d.style.height = "15px"
                   }
                  // Reset expand Link
                  let respop = document.getElementsByClassName("popup "+spliced);
                  respop[0].href = myimages[0]

                 } else {
                   p.style.display = "block";
                 }
               }
             }

           });
         }
  </script>

<% }) %>

<script>
  let dots = document.getElementsByClassName("dot");

       let p

       for (p = 0; p < dots.length; p++) {
         dots[p].addEventListener("click", function() {
           for (w of dots){
              w.style.backgroundColor = "#bbb"
              w.style.width = "15px"
              w.style.height = "15px"
           }
           let number = this.dataset.num
           let myclass = ""
           myclass += this.className
           let spliced = myclass.slice(4)
           let bg = document.getElementsByClassName("product__item__pic set-bg "+spliced);
           let images = bg[0].dataset.images.split(" ")
           bg[0].style.backgroundImage = "url('"+images[number] +"')"
           this.style.backgroundColor = "#717171"
           this.style.width = "20px"
           this.style.height = "20px"

           // Changing the expand popup
           let expop = document.getElementsByClassName("popup "+thisid);
           expop[0].href = images[number]
         });
       }


</script>
<!-- End -->

</div>
</div>

</section>


<!-- Product Section End -->
<!-- Banner Section Begin -->
<!-- <section class="banner set-bg" data-setbg="img/banner/banner-1.jpg" style="background-image: url(&quot;img/banner/banner-1.jpg&quot;);">
<div class="container">
<div class="row">
<div class="col-xl-7 col-lg-8 m-auto">
<div class="banner__slider owl-carousel owl-loaded owl-drag">



<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2070px, 0px, 0px); transition: all 1.2s ease 0s; width: 4830px;"><div class="owl-item cloned" style="width: 690px;"><div class="banner__item">
<div class="banner__text">
<span>The Chloe Collection</span>
<h1>The Project Jacket</h1>
<a href="#">Shop now</a>
</div>
</div></div><div class="owl-item cloned" style="width: 690px;"><div class="banner__item">
<div class="banner__text">
<span>The Chloe Collection</span>
<h1>The Project Jacket</h1>
<a href="#">Shop now</a>
</div>
</div></div><div class="owl-item" style="width: 690px;"><div class="banner__item">
<div class="banner__text">
<span>The Chloe Collection</span>
<h1>The Project Jacket</h1>
<a href="#">Shop now</a>
</div>
</div></div><div class="owl-item active" style="width: 690px;"><div class="banner__item">
<div class="banner__text">
<span>The Chloe Collection</span>
<h1>The Project Jacket</h1>
<a href="#">Shop now</a>
</div>
</div></div><div class="owl-item" style="width: 690px;"><div class="banner__item">
<div class="banner__text">
<span>The Chloe Collection</span>
<h1>The Project Jacket</h1>
<a href="#">Shop now</a>
</div>
</div></div><div class="owl-item cloned" style="width: 690px;"><div class="banner__item">
<div class="banner__text">
<span>The Chloe Collection</span>
<h1>The Project Jacket</h1>
<a href="#">Shop now</a>
</div>
</div></div><div class="owl-item cloned" style="width: 690px;"><div class="banner__item">
<div class="banner__text">
<span>The Chloe Collection</span>
<h1>The Project Jacket</h1>
<a href="#">Shop now</a>
</div>
</div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
</div>
</div>
</div>
</section> -->
<!-- Banner Section End -->
<!-- Trend Section Begin -->
<!-- <section class="trend spad">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-6">
<div class="trend__content">
<div class="section-title">
<h4>Hot Trend</h4>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/ht-1.jpg" alt="" data-pagespeed-url-hash="1218446255" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Chain bucket bag</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/ht-2.jpg" alt="" data-pagespeed-url-hash="1512946176" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Pendant earrings</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/ht-3.jpg" alt="" data-pagespeed-url-hash="1807446097" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Cotton T-Shirt</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6">
<div class="trend__content">
<div class="section-title">
<h4>Best seller</h4>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/bs-1.jpg" alt="" data-pagespeed-url-hash="3347769236" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Cotton T-Shirt</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/bs-2.jpg" alt="" data-pagespeed-url-hash="3642269157" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Zip-pockets pebbled tote <br>briefcase</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/bs-3.jpg" alt="" data-pagespeed-url-hash="3936769078" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Round leather bag</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-6">
<div class="trend__content">
<div class="section-title">
<h4>Feature</h4>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/f-1.jpg" alt="" data-pagespeed-url-hash="2196374041" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Bow wrap skirt</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/f-2.jpg" alt="" data-pagespeed-url-hash="2490873962" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Metallic earrings</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
<div class="trend__item">
<div class="trend__item__pic">
<img src="img/trend/f-3.jpg" alt="" data-pagespeed-url-hash="2785373883" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
<div class="trend__item__text">
<h6>Flap cross-body bag</h6>
<div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>
<div class="product__price">$ 59.0</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section> -->
<!-- Trend Section End -->
<!-- Discount Section Begin -->
<!-- <section class="discount">
<div class="container">
<div class="row">
<div class="col-lg-6 p-0">
<div class="discount__pic">
<img src="img/discount.jpg" alt="" data-pagespeed-url-hash="3257752054" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
</div>
</div>
<div class="col-lg-6 p-0">
<div class="discount__text">
<div class="discount__text__title">
<span>Discount</span>
<h2>Summer 2019</h2>
<h5><span>Sale</span> 50%</h5>
</div>
<div class="discount__countdown" id="countdown-time"><div class="countdown__item"><span>29</span> <p>Day</p> </div><div class="countdown__item"><span>05</span> <p>Hour</p> </div><div class="countdown__item"><span>34</span> <p>Min</p> </div><div class="countdown__item"><span>51</span> <p>Sec</p> </div></div>
<a href="#">Shop now</a>
</div>
</div>
</div>
</div>
</section> -->
<!-- Discount Section End -->

<!-- removed -->


<!-- Services Section Begin -->
<!-- <section class="services spad">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="services__item">
<i class="fa fa-car"></i>
<h6>Free Shipping</h6>
<p>For all oder over $99</p>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="services__item">
<i class="fa fa-money"></i>
<h6>Money Back Guarantee</h6>
<p>If good have Problems</p>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="services__item">
<i class="fa fa-support"></i>
<h6>Online Support 24/7</h6>
<p>Dedicated support</p>
</div>
</div>
<div class="col-lg-3 col-md-4 col-sm-6">
<div class="services__item">
<i class="fa fa-headphones"></i>
<h6>Payment Secure</h6>
<p>100% secure payment</p>
</div>
</div>
</div>
</div>
</section> -->

<!-- Removed -->

<!-- Services Section End -->
<!-- Instagram Begin -->
<div class="instagram">
<div class="container-fluid">
<div class="row">
<div class="col-lg-2 col-md-4 col-sm-4 p-0">
<div class="instagram__item set-bg" data-setbg="img/instagram/insta-1.jpg" style="background-image: url(&quot;img/instagram/insta-1.jpg&quot;);">
<div class="instagram__text">
<i class="fa fa-instagram"></i>
<a href="#">@ ashion_shop</a>
</div>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-4 p-0">
<div class="instagram__item set-bg" data-setbg="img/instagram/insta-2.jpg" style="background-image: url(&quot;img/instagram/insta-2.jpg&quot;);">
<div class="instagram__text">
<i class="fa fa-instagram"></i>
<a href="#">@ ashion_shop</a>
</div>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-4 p-0">
<div class="instagram__item set-bg" data-setbg="img/instagram/insta-3.jpg" style="background-image: url(&quot;img/instagram/insta-3.jpg&quot;);">
<div class="instagram__text">
<i class="fa fa-instagram"></i>
<a href="#">@ ashion_shop</a>
</div>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-4 p-0">
<div class="instagram__item set-bg" data-setbg="img/instagram/insta-4.jpg" style="background-image: url(&quot;img/instagram/insta-4.jpg&quot;);">
<div class="instagram__text">
<i class="fa fa-instagram"></i>
<a href="#">@ ashion_shop</a>
</div>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-4 p-0">
<div class="instagram__item set-bg" data-setbg="img/instagram/insta-5.jpg" style="background-image: url(&quot;img/instagram/insta-5.jpg&quot;);">
<div class="instagram__text">
<i class="fa fa-instagram"></i>
<a href="#">@ ashion_shop</a>
</div>
</div>
</div>
<div class="col-lg-2 col-md-4 col-sm-4 p-0">
<div class="instagram__item set-bg" data-setbg="img/instagram/insta-6.jpg" style="background-image: url(&quot;img/instagram/insta-6.jpg&quot;);">
<div class="instagram__text">
<i class="fa fa-instagram"></i>
<a href="#">@ ashion_shop</a>
</div>
</div>
</div>
</div>
</div>
</div>


<footer class="footer">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-6 col-sm-7">
<div class="footer__about">
<div class="footer__logo">
<a href="./index.html"><img src="img/logo.png" alt="" data-pagespeed-url-hash="3884813948" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
cilisis.</p>
<div class="footer__payment">
<a href="#"><img src="img/payment/payment-1.png" alt="" data-pagespeed-url-hash="816491970" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
<a href="#"><img src="img/payment/payment-2.png" alt="" data-pagespeed-url-hash="1110991891" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
<a href="#"><img src="img/payment/payment-3.png" alt="" data-pagespeed-url-hash="1405491812" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
<a href="#"><img src="img/payment/payment-4.png" alt="" data-pagespeed-url-hash="1699991733" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
<a href="#"><img src="img/payment/payment-5.png" alt="" data-pagespeed-url-hash="1994491654" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
</div>
</div>
</div>
<div class="col-lg-2 col-md-3 col-sm-5">
<div class="footer__widget">
<h6>Quick links</h6>
<ul>
<li><a href="#">About</a></li>
<li><a href="#">Blogs</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">FAQ</a></li>
</ul>
</div>
</div>
<div class="col-lg-2 col-md-3 col-sm-4">
<div class="footer__widget">
<h6>Account</h6>
<ul>
<li><a href="#">My Account</a></li>
<li><a href="#">Orders Tracking</a></li>
<li><a href="#">Checkout</a></li>
<li><a href="#">Wishlist</a></li>
</ul>
</div>
</div>
<div class="col-lg-4 col-md-8 col-sm-8">
<div class="footer__newslatter">
<h6>NEWSLETTER</h6>
<form action="#">
<input type="text" placeholder="Email">
<button type="submit" class="site-btn">Subscribe</button>
</form>
<div class="footer__social">
<a href="#"><i class="fa fa-facebook"></i></a>
<a href="#"><i class="fa fa-twitter"></i></a>
<a href="#"><i class="fa fa-youtube-play"></i></a>
<a href="#"><i class="fa fa-instagram"></i></a>
<a href="#"><i class="fa fa-pinterest"></i></a>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<div class="footer__copyright__text">
<p>Copyright © <script>document.write(new Date().getFullYear());</script>All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
</div>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</div>
</div>
</div>
</footer>
<!-- Footer Section End -->
<!-- Search Begin -->
<div class="search-model">
<div class="h-100 d-flex align-items-center justify-content-center">
<div class="search-close-switch">+</div>
<form class="search-model-form">
<input type="text" id="search-input" placeholder="Search here.....">
</form>
</div>
</div>
<!-- Search End -->
<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/main.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','UA-23581568-13');</script> -->
